<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true" use-expressions="true" entry-point-ref="authenticationEntryPoint"
                   authentication-manager-ref="authenticationManager">
        <!--Data Entry level-->
        <security:intercept-url access="hasAuthority('0101-01-VIEW')" pattern="/guestLog"/>


        <!--administrator-->
        <security:intercept-url access="hasAuthority('0101-02-VIEW')" pattern="/userrego"/>
        <!--<security:intercept-url access="hasAuthority('0101-02-VIEW')" pattern="/chargeAllocation"/>-->

        <security:form-login always-use-default-target="false" authentication-failure-url="/login?error"
                             default-target-url="/home" login-page="/login" login-processing-url="/auth"
                             username-parameter="username" password-parameter="password"
                             authentication-success-handler-ref="loginSuccessHandler"/>

        <security:logout logout-url="/logout" success-handler-ref="logoutSuccessHandler"
                         invalidate-session="true" delete-cookies="JSESSIONID"/>

        <security:session-management session-authentication-strategy-ref="sas" invalid-session-url="/"/>
        <!--<security:access-denied-handler ref="accessDeniedHandler"/>-->
        <security:http-basic/>
        <security:csrf/>
    </security:http>

    <security:authentication-manager alias="authenticationManager" erase-credentials="true">
        <security:authentication-provider ref="authenticationProvider"/>
    </security:authentication-manager>

    <bean class="org.springframework.security.core.session.SessionRegistryImpl" id="sessionRegistry"/>

    <bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="passwordEncoder"/>

    <bean class="bt.gov.moh.security.WebAuthenticationProvider" id="authenticationProvider">
        <!--<property name="passwordEncoder" ref="passwordEncoder"/>-->
    </bean>
    <bean class="bt.gov.moh.security.LoginSuccessHandler" id="loginSuccessHandler">
        <constructor-arg name="defaultTargetUrl" value="/home"/>
    </bean>

    <bean class="bt.gov.moh.security.AuthenticationEntryPoint" id="authenticationEntryPoint">
        <constructor-arg name="loginUrl" value="/login"/>
    </bean>
    <bean class="bt.gov.moh.security.LogoutSuccessHandler" id="logoutSuccessHandler">
        <constructor-arg name="defaultTargetUrl" value="/login"/>
    </bean>

    <bean class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter" id="authFilter">
        <property name="sessionAuthenticationStrategy" ref="sas"/>
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>

    <!--If Concurrent Session Expired then it will load Index page-->
    <bean class="org.springframework.security.web.session.ConcurrentSessionFilter" id="concurrentFilter">
        <constructor-arg name="sessionRegistry" ref="sessionRegistry"/>
        <constructor-arg name="expiredUrl" value="/"/>
    </bean>

    <bean class="org.springframework.security.web.authentication.session.CompositeSessionAuthenticationStrategy"
          id="sas">
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">
                    <constructor-arg ref="sessionRegistry"/>
                    <property name="maximumSessions" value="1"/>
                    <property name="exceptionIfMaximumExceeded" value="true"/>
                </bean>
                <bean class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy"/>
                <bean class="org.springframework.security.web.authentication.session.RegisterSessionAuthenticationStrategy">
                    <constructor-arg ref="sessionRegistry"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>
</beans>